
*{ 
    background-color: rgb(236, 245, 248);
    padding: 0;
    font-family: 'Sometype Mono', monospace; 
}

body, header, main, footer {
    /* border: 3px  goldenrod solid; */
    margin: 0.5px;
}

.header-menubar{
    background-color: aliceblue;
    margin: 0,5rem 0, 0 , 0,5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns:repeat(2,auto);
    align-items: center;
}

ul{
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    list-style: none;
}

li {
    padding: auto;
    margin-right: 50px;
}

.logo{
    border-radius: 20px 0 20px 0 goldenrod;
    width: 130px;
}

.title {
    background-color:aliceblue;
    font-family: 'Sometype Mono', monospace;
    font-size: 50px;
    text-shadow: goldenrod;
    text-align:justify;
}

.registrate{
    display: flex;
    justify-content:center;
    align-content: center;
}

.caja {
    background-color: aliceblue;
    border: goldenrod solid;
    width: 300px;
    border-radius: 0 0 15px 15px;
}
.contenedor{ 
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    grid-gap: 10px;
    margin-top: 20px;
    padding: 15px;
}
.botonera {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-evenly;
    
}
.suscription {
    margin: 20px 400px 5px 400px;
    border-radius: 15px;
}

img.africanwm, img.libroenrriquez, img.oct, img.nov, img.abril {
    max-width: 300px; 
    border-radius: 0 15px 0 15px;
    border-color: goldenrod;
    border-style: solid;
}

.article, .entrevista1 {
    border-color: goldenrod;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    text-align: left;
}

.registro{
    margin-left: 500px;
    background-color: aliceblue;
    background-origin: padding-box;
}

h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 18px; 
    color: #666; 
}

p {
    font-size: 14px; 
    color: #999;
}
.cartelera{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    align-content: space-between;
    margin: 20px;
    padding: 10px;
    border-radius: goldenrod;
    box-shadow: #999;
}

footer {
    text-align: center;
    min-height: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
}

footer p {
    text-align: center;
}

@media only screen and (max-width:768px) {
    .contenedor {
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (max-width:480px) {
    .contenedor {
        grid-template-columns: repeat(1,auto);
    }
}